Package: okcash
Version: 9.5.0
Section: p2p
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: OkToschi
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libboost-system-dev (>> 1.35) | libboost-system1.35-dev,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libminiupnpc8-dev | libminiupnpc-dev (>> 1.6),
 libboost-filesystem-dev (>> 1.35) | libboost-filesystem1.35-dev,
 libboost-program-options-dev (>> 1.35) | libboost-program-options1.35-dev,
 libboost-thread-dev (>> 1.35) | libboost-thread1.35-dev,
 libboost-test-dev (>> 1.35) | libboost-test1.35-dev,
 qt5-default,qt5-qmake,qtbase5-dev-tools,qttools5-dev-tools,build-essential,libboost-dev,
 libboost-system-dev,libboost-filesystem-dev,libboost-program-options-dev,
 libboost-thread-dev,libssl-dev,libdb++-dev,libminiupnpc-dev,
 libqt5webkit5-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 python
Description: Install OkCash-QT
